.header{
    height: 34vw;
    margin: 10px auto;
    background: url("../../assets/header_img.png");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
}
.header-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    position: absolute;
    max-width: 50%;
    bottom: 10%;
    margin-right: 5%;
    right: 6px;
    animation: fadeIn 1.5s;
}
.header-contents h2{
    font-weight: 500;
    color: #fff;
    font-size: max(3.5vw, 22px);
    line-height: max(2vw, 16px);
}
.header-contents p{
    color: #fff;
    font-size: 1vw;
    width: 40vw;
    text-align: justify;
}
.header-contents h3{
    font-weight: 400;
    color: var(--primary-color);
    font-size: max(5.5vw, 22px);
    line-height: max(4.5vw, 18px) ;
}
.header-contents button{
    border: none;
    font-weight: 500;
    color: #747474;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

@media(max-width: 1050px){
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width: 750px){
    .header-contents{
        max-width: 55%;
    }
}
@media(max-width: 750px){
    .header-contents{
        max-width: 65%;
        
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
        margin-top: 10px;
    }
    .header{
        height: max(34vw, 30vh);
    }
}
